body {
    margin: 0;
    background: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #111;
    color: white
}

button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

input[type="text"], select {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}